/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Font */

/* start body */
body {
    background-color: darkturquoise;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;

}
/* end body */ 

/* Start Debug */
.bg-lightgreen {
    background-color: darkseagreen;
}

.bg-rgba {
    background-color: rgba(23, 112, 108, 0.959);
}

.bg-grey {
    background-color: grey;
}

.bg-aqua {
    background-color: aqua;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 97%;
    border-radius: 4px;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo*/

/* Start Anchor / Hyperlink */
a:link,
a:visited{
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/* End  Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: cadetblue;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px gray;
        0 6px 10px 0  rgba(0,0,0,.14);
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
}

.menu-primer a {
    color: black;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 50px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background: teal;
    color: azure;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
} 
h1 {
    font-size: 28px;
}
h1 {
    font-size: 24px;
}
h1 {
    font-size: 18px;
}
h1 {
    font-size: 16px;
}
h1 {
    font-size: 14px;
}
h1 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: rgba(23, 112, 108, 0.959);
    border: 1px solid rgba(23, 112, 108, 0.959);
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 170px; 
}
/* End Main */

/* Start Box */
.box-heading {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: gray;
    border: 1px solid rgb(255, 255, 255);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */